body
{
background-color:#C6DDDC;
margin:5px;
}

#canvas
{
cursor:none;
float:left;
margin-top:0px;
}

#sidebar {
	display: block;
	float: right;
	width:100px;
	padding:10px 0 10px 80px;
	margin: 0 0 0 50px
	border: 1px solid black	
}

#content{
	float: right:
}
